@import "tailwindcss";


@theme {
    --font-montserrat: var(--font-montserrat);
    --color-accent: oklch(69.6% 0.17 162.48);
}


@layer base {
    h1 {
        @apply text-6xl font-bold;
    }

    h2 {
        @apply text-4xl font-semibold;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base font-semibold;
    }

    .center-within {
        @apply flex flex-col items-center justify-center;
    }
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
}
